@page
@model RolesForAssessment.Pages.RolesManager.IndexModel
@{
    ViewData["Title"] = "Roles";
}
<a asp-page="/RolesManager/Create">New</a>
@if (Model.Roles.Any())
{
    <table class="table">
        @foreach (var role in Model.Roles)
        {
            <tr>
                <td>@role.Name</td>
            </tr>
        }
    </table>

<table class="table">
    @foreach (var result in Model.UserAndRoles)
    {
        <tr>
            <td>@result.UserName</td>
            <td>@result.RoleName</td>
        </tr>
    }
</table>
}